<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
  <appSettings>
    <add key="RegressionTest.URL" value="http://dev-clinicaltrials.ad.cancerinstitute.org.au/" />
    <add key="RegressionTest.BaseDirectory" value="C:\" />
    <add key="RegressionTest.HeadlessChrome" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="Admin_Password" value="Welcome@123" />
    <add key="Admin_UserName" value="AutomationAdminUser" />
    <add key="MySiteAdmin_UserName" value="Emmanuel Russel" />
    <add key="AutoCTU_Password" value="Welcome@123" />
    <add key="AutoCTU_UserName" value="AutomationUserCTU" />
    <add key="CTU_Password" value="Welcome@123" />
    <add key="CTU_UserName" value="Regression_CTU_User" />
  </appSettings>
  <connectionStrings>
    <!-- This connection string will only be used by the local set up script Scripts/setup-local-test-db.ps1 -->
    <add name="ClinicalTrialsWeb" connectionString="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True; Database=ClinicalTrialsWeb" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <specFlow>
    <unitTestProvider name="Nunit" />
    <!--<unitTestProvider name="MsTest" />-->
    
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>